packages/vue-node-red-flow-viewer/preview/flows/groups.json
[
  { "id": "tab-groups", "type": "tab", "label": "Groups & Nesting", "disabled": false },
  {
    "id": "grp-outer",
    "type": "group",
    "z": "tab-groups",
    "style": {
      "stroke": "#999999",
      "stroke-opacity": "1",
      "fill": "#f0f4ff",
      "fill-opacity": "0.5",
      "label": true,
      "label-position": "nw",
      "color": "#4466aa"
    },
    "name": "Outer Group",
    "nodes": ["grp-fails", "grp-succeeds", "inj-main"],
    "x": 50,
    "y": 100,
    "w": 900,
    "h": 420
  },
  {
    "id": "grp-fails",
    "type": "group",
    "z": "tab-groups",
    "g": "grp-outer",
    "name": "Fails",
    "style": {
      "label": true,
      "stroke": "#cc4444",
      "fill": "#fff0f0",
      "fill-opacity": "0.6",
      "label-position": "nw",
      "color": "#cc4444"
    },
    "nodes": ["sp1", "sw1", "fn1", "jn1", "dbg1"],
    "x": 280,
    "y": 140,
    "w": 560,
    "h": 160
  },
  {
    "id": "grp-succeeds",
    "type": "group",
    "z": "tab-groups",
    "g": "grp-outer",
    "name": "Succeeds",
    "style": {
      "label": true,
      "stroke": "#44aa44",
      "fill": "#f0fff0",
      "fill-opacity": "0.6",
      "label-position": "nw",
      "color": "#44aa44"
    },
    "nodes": ["sp2", "sw2", "fn2", "jn2", "dbg2"],
    "x": 280,
    "y": 360,
    "w": 620,
    "h": 140
  },
  {
    "id": "inj-main",
    "type": "inject",
    "z": "tab-groups",
    "g": "grp-outer",
    "name": "payload: [null,1,2]",
    "props": [{ "p": "payload" }],
    "payload": "[null,1,2]",
    "payloadType": "json",
    "x": 140,
    "y": 290,
    "wires": [["sp1", "sp2"]]
  },
  {
    "id": "sp1",
    "type": "split",
    "z": "tab-groups",
    "g": "grp-fails",
    "name": "",
    "x": 370,
    "y": 180,
    "wires": [["sw1"]]
  },
  {
    "id": "sw1",
    "type": "switch",
    "z": "tab-groups",
    "g": "grp-fails",
    "name": "is not null",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "nnull" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 510,
    "y": 230,
    "wires": [["fn1"]]
  },
  {
    "id": "fn1",
    "type": "function",
    "z": "tab-groups",
    "g": "grp-fails",
    "name": "... do something ...",
    "func": "return msg;",
    "outputs": 1,
    "x": 660,
    "y": 180,
    "wires": [["jn1"]]
  },
  {
    "id": "jn1",
    "type": "join",
    "z": "tab-groups",
    "g": "grp-fails",
    "name": "",
    "mode": "auto",
    "x": 780,
    "y": 230,
    "wires": [["dbg1"]]
  },
  {
    "id": "dbg1",
    "type": "debug",
    "z": "tab-groups",
    "g": "grp-fails",
    "name": "no output",
    "active": true,
    "x": 710,
    "y": 270,
    "wires": []
  },
  {
    "id": "sp2",
    "type": "split",
    "z": "tab-groups",
    "g": "grp-succeeds",
    "name": "",
    "x": 380,
    "y": 400,
    "wires": [["sw2"]]
  },
  {
    "id": "sw2",
    "type": "switch",
    "z": "tab-groups",
    "g": "grp-succeeds",
    "name": "is not null & otherwise",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "nnull" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 490,
    "y": 450,
    "wires": [["fn2"], ["jn2"]]
  },
  {
    "id": "fn2",
    "type": "function",
    "z": "tab-groups",
    "g": "grp-succeeds",
    "name": "... do something ...",
    "func": "return msg;",
    "outputs": 1,
    "x": 700,
    "y": 400,
    "wires": [["jn2"]]
  },
  {
    "id": "jn2",
    "type": "join",
    "z": "tab-groups",
    "g": "grp-succeeds",
    "name": "",
    "mode": "auto",
    "x": 860,
    "y": 450,
    "wires": [["dbg2"]]
  },
  {
    "id": "dbg2",
    "type": "debug",
    "z": "tab-groups",
    "g": "grp-succeeds",
    "name": "original array",
    "active": true,
    "x": 990,
    "y": 400,
    "wires": []
  },
  {
    "id": "standalone-fn",
    "type": "function",
    "z": "tab-groups",
    "name": "Standalone Node",
    "func": "return msg;",
    "x": 200,
    "y": 600,
    "wires": [["standalone-dbg"]]
  },
  {
    "id": "standalone-dbg",
    "type": "debug",
    "z": "tab-groups",
    "name": "Output",
    "x": 420,
    "y": 600,
    "wires": []
  }
]
