docs/flows/subflows.json
[
  {
    "id": "sf-normalize",
    "type": "subflow",
    "name": "Normalize Value",
    "info": "Parses the payload as a float and clamps it to the [0, 1] range.",
    "category": "transform",
    "in": [{ "x": 50, "y": 80, "wires": [{ "id": "sf-parse" }] }],
    "out": [{ "x": 500, "y": 80, "wires": [{ "id": "sf-clamp", "port": 0 }] }]
  },
  {
    "id": "sf-parse",
    "type": "function",
    "z": "sf-normalize",
    "name": "Parse float",
    "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
    "outputs": 1,
    "x": 180,
    "y": 80,
    "wires": [["sf-clamp"]]
  },
  {
    "id": "sf-clamp",
    "type": "function",
    "z": "sf-normalize",
    "name": "Clamp 0–1",
    "func": "msg.payload = Math.min(1, Math.max(0, msg.payload));\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 80,
    "wires": []
  },

  {
    "id": "sf-format",
    "type": "subflow",
    "name": "Format Report",
    "info": "Wraps the payload in a timestamped report envelope.",
    "category": "output",
    "in": [{ "x": 50, "y": 80, "wires": [{ "id": "sf-fmt-fn" }] }],
    "out": [{ "x": 500, "y": 80, "wires": [{ "id": "sf-fmt-fn", "port": 0 }] }]
  },
  {
    "id": "sf-fmt-fn",
    "type": "function",
    "z": "sf-format",
    "name": "Wrap envelope",
    "func": "msg.payload = { ts: Date.now(), value: msg.payload };\nreturn msg;",
    "outputs": 1,
    "x": 270,
    "y": 80,
    "wires": []
  },

  { "id": "tab-subflows", "type": "tab", "label": "Subflow Usage", "disabled": false },

  {
    "id": "inj-raw",
    "type": "inject",
    "z": "tab-subflows",
    "name": "Send 1.75",
    "props": [{ "p": "payload" }],
    "payload": "1.75",
    "payloadType": "str",
    "repeat": "",
    "x": 140,
    "y": 120,
    "wires": [["norm-a"]]
  },
  {
    "id": "inj-neg",
    "type": "inject",
    "z": "tab-subflows",
    "name": "Send -0.5",
    "props": [{ "p": "payload" }],
    "payload": "-0.5",
    "payloadType": "str",
    "repeat": "",
    "x": 140,
    "y": 200,
    "wires": [["norm-b"]]
  },
  {
    "id": "norm-a",
    "type": "subflow:sf-normalize",
    "z": "tab-subflows",
    "name": "Normalize A",
    "x": 380,
    "y": 120,
    "wires": [["fmt-a"]]
  },
  {
    "id": "norm-b",
    "type": "subflow:sf-normalize",
    "z": "tab-subflows",
    "name": "Normalize B",
    "x": 380,
    "y": 200,
    "wires": [["fmt-b"]]
  },
  {
    "id": "fmt-a",
    "type": "subflow:sf-format",
    "z": "tab-subflows",
    "name": "Format A",
    "x": 590,
    "y": 120,
    "wires": [["dbg-out"]]
  },
  {
    "id": "fmt-b",
    "type": "subflow:sf-format",
    "z": "tab-subflows",
    "name": "Format B",
    "x": 590,
    "y": 200,
    "wires": [["dbg-out"]]
  },
  {
    "id": "dbg-out",
    "type": "debug",
    "z": "tab-subflows",
    "name": "Report",
    "active": true,
    "tosidebar": true,
    "x": 780,
    "y": 160,
    "wires": []
  }
]
